{% extends "layout.html" %}

{% block body %}

<main>
    <div class="name-container">
        <h1>Hi, {{ name }}</h1>
    </div>
    <div class="task-container">
        <h1>Enter task</h1>
        <p id="msg"></p>
        <form class="task-form" id="task-form">
            <textarea
                id="task-textarea"
                name="task-textarea"
                placeholder="Type your task here..."
            ></textarea>
            <button type="submit">Save Task</button>
        </form>
    </div>
</main>
{% endblock %} {% block script %}
<script type="module" src="/static/index.js"></script>
{% endblock %}
